.datepicker-date-display {
    background-color: rgb(0, 0, 0);
}

.datepicker-cancel, .datepicker-clear, 
.datepicker-today, .datepicker-done {
    color: black;
}

button.datepicker-day-button {
    color: #000000;
}

.timepicker-digital-display {
    background-color: rgb(0, 0, 0);
}

.timepicker-digital-cancel, .timepicker-digital-clear, 
.timepicker-digital-today, .timepicker-digital-done {
    color: rgb(0, 0, 0);
}

button.timepicker-digital-button {
    color: #000000;
}

.tabs .indicator {
    background-color: rgb(0, 0, 0);
}

.buttons .indicator {
    background-color: rgb(0, 0, 0);
}